@mixin table-th ($font-size){
  th{
    font-size: $font-size;
    position: absolute;
    &:nth-child(1){
      left: 10px;
    }
    &:nth-child(2){
      left: 80px;
    }

    &:nth-child(3){
      left: 450px;
    }
    &:nth-child(4){
      left: 640px;
    }
    &:nth-child(5){
      left: 800px;
    }
  }
}
